colourmap==1.1.10
docx==0.2.4
dtale==2.14.1
fast_ml==3.68
feature_engine==1.6.0
joblib==1.2.0
mat4py==0.5.0
matplotlib==3.6.2
missingno==0.5.2
pandas==1.5.1
pca==1.9.2
pingouin==0.5.2
plotly==5.14.1
pyod==1.0.9
reportlab==3.6.12
researchpy==0.3.5
scikit_learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
sidetable==0.9.1
statsmodels==0.13.5
sweetviz==2.1.4
treeplot==0.1.16
yellowbrick==1.5
